.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
atom-theme/**
demo.*
*.md
!README.md
node_modules/**
src/**
test/**
*.vsix
.mypy_cache/
.cursor/
.github/
.meta/
.omo/
assets/
*.tsbuildinfo
previews
packages/
dist/previews
*.html
.envrc
.sops.yaml
.release-it.json
docs
shiki